@using Repository.Models;

@model List<Account>

<h1>Account page</h1>
<table>


    <!-- Hoverable Table rows -->
    <div class="card">
        <div class="table-responsive text-nowrap">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Full Name</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">

                    @foreach (var account in Model)
                    {
                        <tr>
                        <tr>
                            <td> <strong>@account.Id</strong></td>
                            <td>@account.FullName</td>
                            <td>@account.Username</td>
                            <td>@account.Email</td>
                            <td>@account.Phone</td>
                            <td><span class="badge bg-label-primary me-1">@account.Phone</span></td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</table>